.header {
  width: 100%;
  height: 300px;
  color: #fff;
  background-image: url("ciel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 1px;
}
.header-title {
  margin-top: 100px;
}